<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>首页 - Dimples后台管理系统</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/ico">
    <meta name="keywords" content="Dimples 后台管理系统">
    <meta name="description" content="Dimples是一个基于SpringBoot的后台管理系统。">
    <meta name="author" content="dimples">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/dimples/common.css}" rel="stylesheet">
    <link th:href="@{/css/dimples/index.css}" rel="stylesheet">
</head>

<body>
<div class="dimples-layout-web">
    <div class="dimples-layout-container">
        <!--左侧导航-->
        <div th:replace="sidebar::sidebar-fragment"></div>
        <!--End 左侧导航-->
        <!--头部信息-->
        <div th:replace="header::header-fragment"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="dimples-layout-content">

            <div class="container-fluid">

                <!-- 欢迎信息 -->
                <div class="row">
                    <div class="layui-col-md12 layui-col-sm12 layui-col-xs12">
                        <div class="layui-card">
                            <div class="layui-card-body layui-anim layui-anim-fadein">
                                <div class="layui-row welcome-info">
                                    <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                                        <div class="layui-row welcome-info-wrapper">
                                            <div class="user-header">
                                                <img alt="头像" id="user-avatar"
                                                     data-th-src="@{/images/users/avatar.png}"
                                                     src="">
                                            </div>
                                            <div class="user-info">
                                                <div class="layui-row">
                                                    <div class="random-message">
                                                        <span id="welcome-message">晚上好，
                                                            <a id="dimples-index-user"
                                                               th:text="${user.username}">zhongyj</a>，今天帮助别人了吗
                                                        </span>
                                                    </div>
                                                    <div class="user-dept">
                                                        <span id="user-dept">暂无所属部门</span> |
                                                        <span id="user-role"
                                                              th:text="${statistic.role}">暂无角色</span>
                                                    </div>
                                                    <div class="user-login-info">
                                                        上次登录时间：
                                                        <span id="last-login-time"
                                                              th:text="${statistic.lastLoginTime}">第一次访问系统</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md6 layui-col-sm12 layui-col-xs12">
                                        <div class="layui-col-md-offset5">
                                            <table class="login-count-table">
                                                <tr>
                                                    <td>今日IP</td>
                                                    <td>今日访问</td>
                                                    <td>总访问量</td>
                                                </tr>
                                                <tr>
                                                    <td class="count" id="today-ip"
                                                        th:text="${statistic.todayIpTotal}">
                                                        0
                                                    </td>
                                                    <td class="count" id="today-visit-count"
                                                        th:text="${statistic.todayTotal}">
                                                        0
                                                    </td>
                                                    <td class="count" id="total-visit-count"
                                                        th:text="${statistic.loginTotal}">
                                                        0
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 图表展示 -->
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>每周用户</h4>
                            </div>
                            <div class="card-body">
                                <canvas class="js-chartjs-lines"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header">
                                <h4>交易历史记录</h4>
                            </div>
                            <div class="card-body">
                                <canvas class="js-chartjs-bars"></canvas>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<!--消息提示-->
<script type="text/javascript" th:src="@{/js/bootstrap-notify.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lightyear.js}"></script>
<!--图表插件-->
<script type="text/javascript" th:src="@{/js/Chart.js}"></script>
<script type="text/javascript" th:src="@{/js/dimples/index.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {

        /* 生成用户信息 */
        let username = $("#header-username").text();
        console.log("当前登陆用户：" + username);
        index.welcomeMsg(username);
        let $dashChartBarsCnt = jQuery('.js-chartjs-bars')[0].getContext('2d'),
            $dashChartLinesCnt = jQuery('.js-chartjs-lines')[0].getContext('2d');

        let $dashChartBarsData = {
            labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
            datasets: [
                {
                    label: '注册用户',
                    borderWidth: 1,
                    borderColor: 'rgba(0,0,0,0)',
                    backgroundColor: 'rgba(51,202,185,0.5)',
                    hoverBackgroundColor: "rgba(51,202,185,0.7)",
                    hoverBorderColor: "rgba(0,0,0,0)",
                    data: [2500, 1500, 1200, 3200, 4800, 3500, 1500]
                }
            ]
        };
        let $dashChartLinesData = {
            labels: ['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],
            datasets: [
                {
                    label: '交易资金',
                    data: [20, 25, 40, 30, 45, 40, 55, 40, 48, 40, 42, 50],
                    borderColor: '#358ed7',
                    backgroundColor: 'rgba(53, 142, 215, 0.175)',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0.5
                }
            ]
        };

        new Chart($dashChartBarsCnt, {
            type: 'bar',
            data: $dashChartBarsData
        });

        let myLineChart = new Chart($dashChartLinesCnt, {
            type: 'line',
            data: $dashChartLinesData,
        });
    });
</script>
</body>
</html>