<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>登录页面 - Dimples 后台管理系统</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/ico">
    <meta name="keywords" content="Dimples,后台管理系统">
    <meta name="description" content="Dimples,后台管理系统">
    <meta name="author" content="dimples">
    <link th:href="@{/dimples/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/dimples/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/dimples/css/style.min.css}" rel="stylesheet">
    <!-- lay ui -->
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/dimples/css/dimples/login.css}" rel="stylesheet">
</head>

<body>
<div class="row dimples-wrapper">
    <div class="dimples-login">
        <div class="login-center">
            <div class="login-header text-center">
                <a href="#"> <img alt="dimples admin" th:src="@{/images/logo-sidebar.png}"
                                  src="/images/logo-sidebar.png"> </a>
            </div>
            <div class="login-error" id="login-error">错误信息</div>
            <!-- 登陆框 -->
            <form action="/sys/login" method="post">
                <div class="form-group has-feedback feedback-left">
                    <label for="username"></label>
                    <input type="text" placeholder="请输入您的用户名" class="form-control" name="username"
                           id="username"/>
                    <span class="mdi mdi-account form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback feedback-left">
                    <label for="password"></label>
                    <input type="password" placeholder="请输入密码" class="form-control" id="password"
                           name="password"/>
                    <span class="mdi mdi-lock form-control-feedback" aria-hidden="true"></span>
                </div>
                <div class="form-group has-feedback feedback-left row">
                    <div class="col-xs-7">
                        <label>
                            <input type="text" name="captcha" class="form-control" id="captcha-text"
                                   placeholder="验证码">
                        </label>
                        <span class="mdi mdi-check-all form-control-feedback"
                              aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-5">
                        <img th:src="@{/sys/captcha}" src="images/captcha.png" class="pull-right"
                             id="captcha"
                             onclick="this.src=this.src+'?d='+Math.random();" title="点击刷新"
                             alt="captcha">
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-primary" id="login" type="button">立即登录
                    </button>
                </div>
            </form>
            <hr>
            <footer class="col-sm-12 text-center">
                <p class="m-b-0">Copyright © 2020 <a href="http://dimples.itshubao.com">Dimples</a>.
                    All
                    right reserved</p>
            </footer>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/dimples/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/dimples/js/bootstrap.min.js}"></script>
<!-- lay ui -->
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/dimples/js/dimples/common.js}"></script>
<script type="text/javascript" th:src="@{/dimples/js/dimples/login.js}"></script>
<script type="text/javascript">
    $(function () {
        // 登陆
        $("#login").on("click", function () {
            loginClick();
        });
    });
</script>
</html>


















