<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="sidebar-fragment" class="dimples-layout-sidebar">

    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a th:href="@{/web/index}"><img src="images/logo-sidebar.png"
                                        th:src="@{/images/logo-sidebar.png}"
                                        title="DimplesSystem"
                                        alt="DimplesSystem"/></a>
    </div>
    <div class="dimples-layout-sidebar-scroll">

        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"><a th:href="@{/web/index}"><i
                        class="mdi mdi-home"></i> 系统首页</a></li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i> 系统管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="">用户管理</a></li>
                        <li><a href="#">角色管理</a></li>
                        <li><a href="#">菜单管理</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i
                            class="mdi mdi-format-align-justify"></i> 系统监控</a>
                    <ul class="nav nav-subnav">
                        <li><a href="#">在线用户</a></li>
                        <li><a href="#">登录日志</a></li>
                        <li><a href="#">Redis监控</a></li>
                        <li><a th:href="@{/druid}" target="_blank" href="#">Druid监控</a></li>
                        <li><a th:href="@{/doc.html}" target="_blank" href="#">Swagger文档</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i>
                        任务调度</a>
                    <ul class="nav nav-subnav">
                        <li><a href="#">定时任务</a></li>
                        <li><a href="#">调度日志</a></li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i>
                        其它模块</a>
                    <ul class="nav nav-subnav">
                        <li><a href="#">七牛云存储</a></li>
                        <li><a href="#">天气查询</a></li>
                        <li><a href="#">影视资讯</a></li>
                        <li><a href="#">高德地图</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; 2020
                <a target="_blank" href="http://github.com/dimples822">GitHub</a></p>
        </div>
    </div>

</aside>
</html>