<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>首页 - Dimples后台管理系统</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/ico">
    <meta name="keywords" content="Dimples 后台管理系统">
    <meta name="description" content="Dimples是一个基于SpringBoot的后台管理系统。">
    <meta name="author" content="dimples">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.min.css}" rel="stylesheet">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/dimples/common.css}" rel="stylesheet">
    <link th:href="@{/css/dimples/dimples.css}" rel="stylesheet">
    <link th:href="@{/css/dimples/user.css}" rel="stylesheet">
</head>
<body>
<div class="dimples-layout-web">
    <div class="dimples-layout-container">
        <!--左侧导航-->
        <div th:replace="sidebar::sidebar-fragment"></div>
        <!--End 左侧导航-->
        <!--头部信息-->
        <div th:replace="header::header-fragment"></div>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="dimples-layout-content">
            <div class="container-fluid">

                <div class="row">

                    <!--<div class="col-lg-12">
                        <div class="card">-->
                            <div class="layui-fluid layui-anim dimples-anim" id="dimples-user">
                                <div class="layui-row dimples-container">
                                    <div class="layui-col-md12">
                                        <div class="layui-card">
                                            <div class="layui-card-body dimples-table-full">
                                                <form class="layui-form layui-table-form"
                                                      lay-filter="user-table-form">
                                                    <div class="layui-row">
                                                        <div class="layui-col-md10">
                                                            <div class="layui-form-item">
                                                                <div class="layui-inline">
                                                                    <label class="layui-form-label layui-form-label-sm">用户名</label>
                                                                    <div class="layui-input-inline">
                                                                        <label>
                                                                            <input type="text"
                                                                                   name="username"
                                                                                   autocomplete="off"
                                                                                   class="layui-input">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="layui-inline">
                                                                    <label class="layui-form-label layui-form-label-sm">创建时间</label>
                                                                    <div class="layui-input-inline">
                                                                        <label for="user-createTime"></label><input type="text"
                                                                                                                    name="createTime"
                                                                                                                    id="user-createTime"
                                                                                                                    class="layui-input">
                                                                    </div>
                                                                </div>
                                                                <div class="layui-inline">
                                                                    <label class="layui-form-label layui-form-label-sm">状态</label>
                                                                    <div class="layui-input-inline">
                                                                        <label>
                                                                            <select name="status">
                                                                                <option value=""></option>
                                                                                <option value="0">禁用
                                                                                </option>
                                                                                <option value="1">有效
                                                                                </option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="layui-inline">
                                                                    <label class="layui-form-label layui-form-label-sm">手机</label>
                                                                    <div class="layui-input-inline">
                                                                        <label>
                                                                            <input type="text"
                                                                                   name="mobile"
                                                                                   autocomplete="off"
                                                                                   class="layui-input">
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="layui-inline">
                                                                    <label class="layui-form-label layui-form-label-sm">部门</label>
                                                                    <div class="layui-input-inline">
                                                                        <label for="dept"></label><input type="text"
                                                                                                         name="dept" id="dept"
                                                                                                         lay-filter="dept"
                                                                                                         class="layui-input">
                                                                    </div>
                                                                </div>
                                                                <div class="layui-inline">
                                                                    <label class="layui-form-label layui-form-label-sm">性别</label>
                                                                    <div class="layui-input-inline">
                                                                        <label>
                                                                            <select name="sex">
                                                                                <option value=""></option>
                                                                                <option value="0">男
                                                                                </option>
                                                                                <option value="1">女
                                                                                </option>
                                                                                <option value="2">保密
                                                                                </option>
                                                                            </select>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="layui-col-md2 layui-col-sm12 layui-col-xs12 table-action-area">
                                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                                 id="query">
<!--                                                                <i class="layui-icon layui-icon-search"></i>-->
                                                                <span class="mdi mdi-magnify mdi-18px mdi-dark mdi-inactive"></span>
                                                            </div>
                                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action"
                                                                 id="reset">
<!--                                                                <i class="layui-icon">&#xe79b;</i>-->
                                                                <span class="mdi mdi-reload mdi-18px mdi-dark mdi-inactive"></span>
                                                            </div>
                                                            <div class="layui-btn layui-btn-sm layui-btn-primary table-action action-more">
<!--                                                                <i class="layui-icon">&#xe875;</i>-->
                                                                <span class="mdi mdi-format-list-bulleted mdi-18px mdi-dark mdi-inactive"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <table lay-filter="userTable"
                                                       lay-data="{id: 'userTable'}"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!--</div>
                    </div>-->

                </div>

            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/perfect-scrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.min.js}"></script>
<script type="text/javascript" th:src="@{/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/js/dimples/common.js}"></script>
<script type="text/javascript">
    // 加载 element模块
    layui.use('element', function () {
        let element = layui.element;
        //一些事件监听
        element.on('tab(demo)', function (data) {
            console.log(data.index);
        });
    });
</script>
</html>












