.layui-inline .layui-form-label {
    width: 90px;
}

.dimples-layout-content .container-fluid {
    padding-top: 0;
}

.row .layui-fluid.layui-anim.dimples-anim {
    padding: 0;
}

.laytable-cell-1-0-0 {
    width: 48px;
}

.laytable-cell-1-0-1 {
}

.laytable-cell-1-0-2 {
}

.laytable-cell-1-0-3 {
}

.laytable-cell-1-0-4 {
}

.laytable-cell-1-0-5 {
}

.laytable-cell-1-0-6 {
}

.laytable-cell-1-0-7 {
}

.laytable-cell-1-0-8 {
}