.dimples-wrapper {
    position: relative;
}

.dimples-login {
    display: flex !important;
    min-height: 100vh;
    align-items: center !important;
    justify-content: center !important;
}

.login-center {
    background: #fff;
    min-width: 38.25rem;
    padding: 2.14286em 3.57143em;
    border-radius: 5px;
    margin: 2.85714em 0;
}

.login-header {
    margin-bottom: 1.5rem !important;
}

.login-center .login-error {
    text-align: center;
    color: red;
    visibility: hidden;
}

.login-center .has-feedback.feedback-left .form-control {
    padding-left: 38px;
    padding-right: 12px;
}

.login-center .has-feedback.feedback-left .form-control-feedback {
    left: 0;
    right: auto;
    width: 38px;
    height: 38px;
    line-height: 38px;
    z-index: 4;
    color: #33cabb;
}

.login-center .has-feedback.feedback-left.row .form-control-feedback {
    left: 15px;
}

#captcha {
    cursor: pointer;
}

.gif {
    /*声明绝对定位*/
    position: absolute;
    /*在页面最左侧对齐*/
    left: 0;
    /*在页面最上方对齐*/
    top: 0;
    /*高度是相对屏幕高度的100%*/
    height: 100vh;
    /*宽度是相对屏幕宽度的100%*/
    width: 100vw;
    /*设置元素优先级为1级*/
    z-index: 1;
    /*设置元素隐藏*/
    display: none;
    /*让子元素横向居中(声明flex后有效)*/
    align-items: center;
    /*让子元素垂直居中(声明flex后有效)*/
    justify-content: center;
    /*设置背景颜色为黑色，并给0.5透明度*/
    background-color: rgba(0, 0, 0, 0.5);
}

/*设置gif下的img元素样式*/
.gif > img {
    height: 20%;
    width: 10%;
}