.dimples-wrapper {
    position: relative;
    background: #f0f2f5 url("../images/background.svg") no-repeat center 110px;
}

.dimples-login {
    display: flex !important;
    min-height: 100vh;
    align-items: center !important;
    justify-content: center !important;
}

.login-center {
    background: #fff;
    min-width: 38.25rem;
    padding: 2.14286em 3.57143em;
    border-radius: 5px;
    margin: 2.85714em 0;
}

.dimples-wrapper .dimples-login .login-center {
    width: 500px;
    height: 450px;
}

.login-header {
    margin-bottom: 1.5rem !important;
}

.login-center .login-error {
    text-align: center;
    color: red;
    visibility: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.login-center .has-feedback.feedback-left .form-control {
    padding-left: 38px;
    padding-right: 12px;
}

.has-feedback label ~ .form-control-feedback.mdi {
    top: 0;
}

.has-feedback label ~ .form-control-feedback.mdi-account, .has-feedback label ~ .form-control-feedback.mdi-lock {
    top: 17px;
}

.login-center .has-feedback.feedback-left .form-control-feedback {
    left: 0;
    right: auto;
    width: 38px;
    height: 38px;
    line-height: 38px;
    z-index: 4;
    color: #33cabb;
}

.login-center .has-feedback.feedback-left.row .form-control-feedback {
    left: 15px;
}

#captcha {
    cursor: pointer;
}
