<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>DIMPLES后台管理</title>
	<link rel="icon" th:href="@{/dimples/images/favicon.ico}" type="image/ico">
	<link rel="stylesheet" th:href="@{/component/layui/css/layui.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/pearMenu.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/pearTab.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/pearTheme.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/pearLoad.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/pearFrame.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/pearAdmin.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/pearSocial.css}"/>
	<link rel="stylesheet" th:href="@{/dimples/css/dimples.css}"/>
	<style id="pearone-bg-color">
		/** 自 定 义 主 题 */
	</style>
	<style>
		.layui-nav-item .layui-nav-child.dimples-nav-child {
			top: 60px;
		}
	</style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin pear-admin">

	<div class="layui-header">
		<ul class="layui-nav layui-layout-left">
			<!-- 侧菜单按钮 -->
			<li class="collaspe layui-nav-item"><a href="#"
																						 class="layui-icon layui-icon-shrink-right dimples-zoom-tool"></a>
			</li>
			<!-- 刷新按钮 -->
			<li class="refresh layui-nav-item" id="dimples-refresh">
				<a href="#" class="layui-icon layui-icon-refresh-1"></a>
			</li>
		</ul>
		<div id="control" class="layui-layout-control"></div>
		<ul class="layui-nav layui-layout-right">
			<!-- 全屏 -->
			<li class="layui-nav-item layui-hide-xs"><a href="#"
																									class="fullScreen layui-icon layui-icon-screen-full"></a>
			</li>
			<!-- 消息提醒 -->
			<li class="layui-nav-item layui-hide-xs"><a href="#"
																									class="notice layui-icon layui-icon-notice"><span
							class="layui-badge-dot"></span></a></li>

			<!-- 主题切换 -->
			<li class="setting layui-nav-item"><a href="#"
																						class="layui-icon layui-icon-theme layui-icon-more-vertical"></a>
			</li>

			<!-- 个人中心 -->
			<li class="layui-nav-item">
				<a href="javascript:void(0)">
					<!-- 个人头像 -->
					<img id="dimples-user-avatar" src="/dimples/images/avatar/default.jpg"
							 class="layui-nav-img" alt="" th:src="${user.avatar}">
					<span small-mobile id="header-username" th:text="${user.username}">DIMPLES</span>
				</a>
				<dl class="layui-nav-child dimples-nav-child" style="text-align: center;">
					<dd><a href="javascript:void(0)" class="site-demo-active"
								 data-url="views/system/personal.html"
								 data-title="个人资料"
								 data-id="1221234215" data-icon="layui-icon layui-icon-username"><i
									class="fa fa-address-card-o"></i>&nbsp;&nbsp;个人资料</a>
					</dd>
					<dd><a href="javascript:void(0)" id="changePassword"><i class="fa fa-cog fa-fw"></i>&nbsp;&nbsp;修改密码</a>
					</dd>
					<dd><a href="/sys/logout" id="logout"><i class="fa fa-power-off"></i>&nbsp;&nbsp;退出登录</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div>

	<!-- 侧菜单 -->
	<div class="layui-side layui-bg-black">
		<!-- 侧菜单logo -->
		<div class="layui-logo">
			<img src="/dimples/images/logo.png" th:src="@{/dimples/images/logo.png}" alt="Logo"/>
		</div>
		<div class="layui-side-scroll">
			<div id="sideMenu"></div>
		</div>
	</div>

	<div class="layui-body">
		<div id="content"></div>
	</div>

</div>

<div class="preloader">
	<div class="preloader-inner"></div>
</div>

<!-- 通讯按钮 -->
<!--<div id="adminSocial"></div>-->

<script th:src="@{/component/layui/layui.js}"></script>

<script>

    layui.use(['pearAdmin', 'jquery'], function () {
        let $ = layui.jquery;
        var pearAdmin = layui.pearAdmin;

        /** Pear Admin 框 架 初 始 化 */
        var config = {
            keepLoad: 600,                          // 主 页 加 载 过 度 时 长
            muiltTab: true,                         // 是 否 开 启 多 标 签 页 true 开启 false 关闭
            control: false,                         // 是 否 开 启 多 系 统 菜 单 true 开启 false 关闭
            theme: "dark-theme",                    // 默 认 主 题 样 式 dark-theme 默认主题 light-theme 亮主题
            index: '/web/console',   							  // 默 认 加 载 主 页
            data: '/menu/' + layui.data('currentUser').username           // 菜 单 数 据 加 载 地 址
        };

        pearAdmin.render(config);

    })

</script>
</body>
</html>
