<!DOCTYPE html>
<html lang="cmn-hans" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>新增用户</title>
	<link rel="stylesheet" th:href="@{/component/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/dimples/css/dimples.css}"/>
</head>
<!-- 自定义样式 -->
<style>
	#user-update {
		padding: 20px 25px 25px 0;
	}

	#user-update .layui-treeSelect .ztree li a, .ztree li span {
		margin: 0 0 2px 3px !important;
	}
</style>

<body>
<div class="layui-fluid" id="user-update">
	<form class="layui-form" action="" lay-filter="user-update-form">
		<div class="layui-form-item dimples-hide">
			<label class="layui-form-label dimples-form-item-require">用户id：</label>
			<div class="layui-input-block">
				<label>
					<input type="text" name="userId" data-th-value="${user.userId}">
				</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label dimples-form-item-require">用户名：</label>
			<div class="layui-input-block">
				<label>
					<input type="text" name="username" minlength="4" maxlength="10"
								 data-th-id="${user.userId}" data-th-value="${user.username}"
								 lay-verify="range|username" autocomplete="off" class="layui-input" readonly>
				</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">手机：</label>
			<div class="layui-input-block">
				<label>
					<input type="tel" name="mobile" lay-verify="phone" data-th-value="${user.mobile}"
								 autocomplete="off" class="layui-input">
				</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">邮箱：</label>
			<div class="layui-input-block">
				<label>
					<input type="text" name="email" lay-verify="email" data-th-value="${user.email}"
								 maxlength="50" autocomplete="off"
								 class="layui-input">
				</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label dimples-form-item-require">角色：</label>
			<div class="layui-input-block">
				<div id="user-update-role"></div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">部门：</label>
			<div class="layui-input-block">
				<label for="user-update-dept"></label>
				<input type="text" name="deptId" id="user-update-dept"
							 lay-filter="user-update-dept" data-th-value="${user.deptName}"
							 data-th-id="${user.deptId}"
							 class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label dimples-form-item-require">状态：</label>
			<div class="layui-input-block">
				<input type="radio" name="status" value="1" title="有效" th:field="${user.status}">
				<input type="radio" name="status" value="0" title="禁用" th:field="${user.status}">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label dimples-form-item-require">性别：</label>
			<div class="layui-input-block">
				<input type="radio" name="gender" value="0" title="女性" th:field="${user.gender}">
				<input type="radio" name="gender" value="1" title="男性" th:field="${user.gender}">
				<input type="radio" name="gender" value="2" title="保密" th:field="${user.gender}">
			</div>
		</div>
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">备注：</label>
			<div class="layui-input-block">
				<label>
					<textarea name="description" data-th-text="${user.description}" maxlength="100"
										class="layui-textarea"></textarea>
				</label>
			</div>
		</div>
		<div class="layui-form-item dimples-hide">
			<button class="layui-btn" lay-submit="" lay-filter="user-update-form-submit"
							id="submit"></button>
		</div>
	</form>
</div>
</body>
<script type="application/javascript" th:src="@{/component/layui/layui.js}"></script>
<script type="application/javascript">
    layui.use(['pearDimples', 'form', 'xmSelect', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            dimples = layui.pearDimples,
            layer = layui.layer,
            xmSelect = layui.xmSelect,
            treeSelect = layui.treeSelect,
            form = layui.form,
            $view = $('#user-update'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        treeSelect.render({
            elem: $view.find('#user-update-dept'),
            type: 'get',
            data: '/dept/select/tree',
            placeholder: '请选择',
            search: false,
            success: function (d) {
                console.log("部门菜单数据 => ", d);
                treeSelect.checkNode('user-update-dept', d.deptId);
            }
        });

        /* 角色下拉框 */
        let userRole = xmSelect.render({
            el: '#user-update-role',
            empty: '呀, 没有数据呢',
            theme: {
                color: '#1cbbb4',
            },
            toolbar: {
                show: true,
                list: ['ALL', 'CLEAR', 'REVERSE']
            },
            data: []
        });
        $.ajax({
            type: 'get',
            url: '/role'
        }).then(response => {
            var res = response.data;
            var tranData = [];
            for (var i = 0; i < res.length; i++) {
                tranData.push({
                    name: res[i].roleName,
                    value: res[i].roleId
                })
            }
            userRole.update({
                data: tranData,
                autoRow: true,
            })
        });

        /* 角色渲染完成 */

        form.on('submit(user-update-form-submit)', function (data) {
            if (dimples.nativeEqual(data.field, user)) {
                dimples.alert.warn('数据未作任何修改！');
                return false;
            }
            dimples.post(ctx + 'user/update', data.field, function () {
                layer.closeAll();
                dimples.alert.success(user.username + ' 用户数据修改成功');
                $('#dimples-user').find('#query').click();
            });
            return false;
        });
    });
</script>
</html>














