<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dimples.biz.system.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="com.dimples.biz.system.po.Role">
		<!--@mbg.generated-->
		<!--@Table db_dimples_shiro.tb_role-->
		<id column="role_id" jdbcType="BIGINT" property="roleId" />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
	</resultMap>
	<sql id="Base_Column_List">
		<!--@mbg.generated-->
		role_id, role_name, create_date, modify_date
	</sql>

	<select id="findByUserId" resultType="com.dimples.biz.system.po.Role">
		select tr.role_id, tr.role_name, tr.create_date, tr.modify_date
		from db_dimples_shiro.tb_role_user tru
			     join db_dimples_shiro.tb_role tr on tru.role_id = tr.role_id
		where tru.user_id = 4;
	</select>
	<select id="findUserRole" resultMap="BaseResultMap">
		SELECT r.role_id,
		       role_name,
		       r.create_date,
		       r.modify_date
		FROM tb_role r
			     LEFT JOIN tb_role_user ru ON (r.role_id = ru.role_id)
			     LEFT JOIN tb_user u ON (u.user_id = ru.user_id)
		WHERE u.username = #{username,jdbcType=VARCHAR}
	</select>
	<select id="findRolePage" resultMap="BaseResultMap">
		SELECT r.role_id,
		role_name,
		create_date,
		modify_date,
		GROUP_CONCAT(mr.menu_id) menu_ids
		FROM tb_role r
		LEFT JOIN tb_menu_role mr ON mr.role_id = r.role_id
		<where>
			<if test="role.roleName != null and role.roleName != ''">
				r.role_name LIKE CONCAT('%',#{role.roleName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		GROUP BY r.role_id
	</select>

</mapper>













