.row .layui-col-md12.layui-col-sm12.layui-col-xs12 {
    padding: 0 15px 15px 15px;
}

.row .layui-card {
    height: 128px;
}

.row .layui-card .layui-card-body {
    line-height: 30px;
}

.dimples-layout-content .welcome-info {
    border: 1px solid #f1f1f1;
    margin-bottom: .5rem;
    padding: .5rem;
}

.dimples-layout-content .welcome-info-wrapper {
    padding: .2rem;
    display: inline-block
}

.dimples-layout-content .welcome-info-wrapper .user-header {
    display: inline-block;
    vertical-align: middle
}

.dimples-layout-content .welcome-info-wrapper .user-header img {
    width: 5rem;
    margin: .5rem 1rem;
    border-radius: 50%
}

.dimples-layout-content .welcome-info-wrapper .user-info {
    display: inline-block;
    vertical-align: middle
}

.dimples-layout-content .welcome-info-wrapper .user-info .random-message {
    margin-bottom: .2rem;
    max-width: 30rem
}

.dimples-layout-content .welcome-info-wrapper .user-info .user-dept, .dimples-layout-content .welcome-info-wrapper .user-info .user-login-info {
    color: rgba(0, 0, 0, 0.45);
}

.dimples-layout-content .login-count-table {
    width: 100%;
    margin: 1rem;
}

.dimples-layout-content .login-count-table .count {
    padding-top: .8rem;
    font-weight: 600;
    color: #008c8c;
}













