.layui-inline .layui-form-label {
    width: 90px;
}

.dimples-layout-content .container-fluid {
    padding-top: 0;
}

.row .layui-fluid.layui-anim.dimples-anim {
    padding: 5px 5px 0 5px;
}

.row .dimples-table {
    padding: 5px;
}

.row .card .card-toolbar {
    padding: 5px 24px;
}

.row .card .card-body {
    padding: 10px 24px;
}

/* 表格样式 */
table tbody tr td .dimples-checkbox.checkbox-primary {
    padding-left: 5px;
}

table .laytable-cell-checkbox .layui-form-checkbox {
    margin-top: 7px;
}

.layui-table-view .layui-table td, .layui-table-view .layui-table th {
    border: none;
}






















